/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject
resources/views/admin/countries.blade.php
resources/views/admin/customers.blade.php
resources/views/admin/orders-products.blade.php
resources/views/admin/orders.blade.php
resources/views/admin/products.blade.php
